<div id="wrapper">
  <app-sidebar (sidebarExpanded)="sidebarExpanded($event)"></app-sidebar>
  <div id="page-content-wrapper">
      <div class="page-content" [ngClass]="{'page-content-shrinked':isSidebarExpanded}">
        <div class="row">
          <div class="col-md-12">
            <p class="well lead">An Experiment using the sidebar template from startbootstrap.com which I integrated in my website (<a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>
            <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p>
            <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p>            
          </div>
        </div>
    </div>
  </div>
</div>
