:host /deep/ {

    #wrapper {
        padding-left: 70px;
        height: 100%;
        background-color: #fafbfc
    }

    #page-content-wrapper {
        padding: .5em 1em .5em .5em;
    }

    .page-content-shrinked {
        padding-left: 130px;
    }
}