<div id="sidebar-wrapper" [ngClass]="(isSidebarExpanded)?'sidebar-wrapper-expanded':'sidebar-wrapper-collapsed'">
    <ul id="sidebar-menu" class="sidebar-nav">
        <li class="sidebar-brand">
            <a id="menu-toggle" href="#" (click)="expandCollapse()">
                Menu<span id="main-icon" class="fa fa-check"></span>
            </a>
        </li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">     
        <li><a>Link1<span class="sub-icon fa fa-check"></span></a></li>
        <li><a>link2<span class="sub-icon fa fa-check"></span></a></li>
    </ul>
</div>